CREATE DATABASE IF NOT EXISTS codebreaker_game; USE codebreaker_game; CREATE TABLE IF NOT EXISTS leaderboard (id INT AUTO_INCREMENT PRIMARY KEY, player_name VARCHAR(255) NOT NULL, score INT NOT NULL, completion_time VARCHAR(8) NOT NULL, levels_completed INT NOT NULL, date_created TIMESTAMP DEFAULT CURRENT_TIMESTAMP);
